<<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Shop
        link(rel="stylesheet", href="/css/style.css")
    body
        ul
            li 
                a.active(href="/"  ) Shop 
            li
                a(href="/admin/add-product") Add Product
            li
                a(href="#contact") Contact
            li
                a(href="#about") About
        h1
            



//- <h1 style="text-align: center;">My Products</h1>
//-     <p style="text-align: center;">List of all PRODUCTS</p>
  
